* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('rainforest.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.header {
    font-family: monospace;
    font-size: 28px;
    font-weight: bolder;
    background-image: url('Ort.gif');
    color: yellow;
    text-align: center;
    border: solid blue;
    padding: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: center;

}

.pinetree1 {
    max-height: 120px;
    float: inline-start;
    padding-right: 175px;
}

.pinetree2 {
    max-height: 120px;
    float: inline-end;
    padding-left: 175px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.search input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 30%;
    background: #F1F1F1;
}
  /* Style the submit button */
.search button {
    float: left;
    width: 5%;
    padding: 10px;
    background: rgb(173, 216, 230);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.search button:hover {
    background: #0B7DDA;
}
  /* Clear floats */
.search::after {
    content: '';
    clear: both;
    display: table;
}